
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.db
*.sqlite3

# Node
node_modules/
.next/
out/
build/
dist/
.env
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large Data Files
postings.csv
